.language-switcher-locale-url .en {
  display: none;
}


.company-content ul.field-type-yp-product li {
  font-size: 11px;
}

.node--company--full .field-type-yp-product li,
.node--company--teaser .field-type-yp-product li,
.node--company--search_index .field-type-yp-product li {
  display: inline-block !important;
  margin-right: 4px;
}

.pane-yellow-pages-core-adsense-300-250 {
  background: none!important;
}

.pane-yellow-pages-core-adsense-300-250 .pane-content {
  padding: 0px!important;
}

.addressfield-popup-map {
  color: #19AA67
}

.addressfield-popup-map:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-type-item {
  margin-bottom: 25px;
}

.address-coordinates {
  cursor: pointer;
  text-decoration: underline;
}
