.language-switcher-locale-url .en {
  display: none;
}

.frontpage-header .activity-banner {
  display: none;
}
.page-search .pane-block ul {
  margin: 0;
  padding: 0 0 0 8px !important;
  list-style-type: none;
  text-align: left;
}

ul.field-type-yp-product {
  display: flex;
  margin-bottom: 20px;
  padding: 0px;
  font-size: 12px;
}

ul.field-type-yp-product.field-name-field-products li a {
  text-decoration: underline;
}

ul.field-type-yp-product li {
  list-style-type: none;
  float: left;
  padding-right: 4px;
}

.company-content ul.field-type-yp-product li {
  font-size: 11px;
}
.node--company--search_index .field-name-field-address .street-block {
  display: block !important;
}
