.language-switcher-locale-url .en {
  display: none;
}

.owl-carousel .node--article--slider_teaser img {
  display: block;
  width: 100%;
  height: auto;
}
.owl-carousel .node--article--slider_teaser a {
  color: #ffdd00;
}
.owl-carousel .node--article--slider_teaser .content {
  position: relative;
}
.owl-carousel .node--article--slider_teaser .content:hover .right {
  height: 100%;
  padding-top: 30px;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.owl-carousel .node--article--slider_teaser .content:hover .right .field-name-body,
.owl-carousel .node--article--slider_teaser .content:hover .right .node-link {
  display: block;
}
.owl-carousel .node--article--slider_teaser .content:hover .right .field-name-body {
  width: 100%;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.owl-carousel .node--article--slider_teaser .content:hover .right:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #ffdd00;
}
.owl-carousel .node--article--slider_teaser .node-link {
  width: 100%;
  font-weight: 400;
  position: absolute;
  bottom: 30px;
  left: 0;
}
.owl-carousel .node--article--slider_teaser .node-link:after {
  content: ">";
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 5px;
}
.owl-carousel .node--article--slider_teaser .right {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 18px 15px;
  background: rgba(46, 46, 46, 0.95);
  text-align: center;
  overflow: hidden;
}
.owl-carousel .node--article--slider_teaser .node-title {
  height: 32px;
  margin-bottom: 5px;
  padding: 0 40px;
  overflow: hidden;
}
.owl-carousel .node-article--slider_teaser .node-title a {
  color: #ffdd00;
}
.owl-carousel .node--article--slider_teaser .node-created,
.owl-carousel .node--article--slider_teaser .field-name-body {
  color: #fff;
}
.owl-carousel .node--article--slider_teaser .node-link,
.owl-carousel .node--article--slider_teaser .field-name-body {
  display: none;
}
.owl-carousel .node--article--slider_teaser .field-name-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 1659px) {
  .owl-carousel .node--article--slider_teaser .field-name-body {
    max-height: 110px;
    overflow: hidden;
  }
}

.frontpage-header .activity-banner {
  display: none;
}
.page-search .pane-block ul {
  margin: 0;
  padding: 0 0 0 8px !important;
  list-style-type: none;
  text-align: left;
}
