* {
  color: #2e2e2e;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  font-weight: bold;
  text-decoration: none;
}

#mimemail-body {
  text-align: center;
}
#mimemail-body #main {
  display: inline-block;
  width: 600px;
}
#mimemail-body #main .mail-header {
  display: block;
  height: 424px;
  width: 600px;
}
#mimemail-body #main .mail-text {
  background-color: #f4f4f4;
  margin-top: -190px;
  padding: 10px 20px;
  text-align: left;
  width: 600px;
}
#mimemail-body #main .mail-social {
  padding: 10px 20px;
}
#mimemail-body #main .mail-social .social-link {
  display: inline-block;
  height: 25px;
  width: 50px;
}
#mimemail-body #main .mail-footer {
  background-color: #2e2e2e;
  padding: 10px 20px;
}
#mimemail-body #main .mail-footer p {
  color: white;
}
