/* Print styles */
html,
body,
header,
.main-container,
.row {
  float: none !important;
  margin: 0 !important;
  min-height: 0 !important;
  padding: 0;
  width: 100% !important;
  background: white !important;
}

@page {
  margin: 0 !important;
}
body.contains-print-iframe > * {
  display: none;
}

div#node-print-version {
  border: 0;
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.container {
  min-width: 90% !important;
  margin: 0;
  float: none;
}

a[href]:after {
  content: "";
  font-weight: normal;
  font-size: 16pt;
}

.messages,
.region-header,
.social-links,
.no-touch .pane-yellow-pages-print-yp-print,
.horizontal-tabs ul.horizontal-tabs-list,
.region-asides,
#footer,
.node-advertisement,
#toolbar,
.node-tabs-block,
.node-type-article .node--article--full .social-links,
.node-type-news .node--news--full .social-links,
.gmnoprint,
.gmnoscreen {
  display: none !important;
}

#navbar {
  display: block;
  width: 100% !important;
}
#navbar .container {
  margin: 0;
  width: 100% !important;
}
#navbar .container .navbar-header {
  width: 100% !important;
  height: 84px;
  margin: 0;
}
#navbar .container .navbar-header .logo {
  display: block;
  float: none !important;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100% !important;
}
#navbar .container .navbar-header .logo img {
  height: 84px !important;
  display: inline-block !important;
  max-height: none !important;
  position: relative !important;
  vertical-align: baseline;
  width: 187px !important;
}

.node-type-company .node-advertisement {
  display: none;
}
.node-type-company .company-content {
  font-size: 25pt;
  width: 100% !important;
}
.node-type-company .company-content h2.node-title {
  font-size: 30pt;
  margin-bottom: 30pt;
  text-align: center;
}
.node-type-company .company-content table.contact-info {
  margin-bottom: 30pt;
  width: 100%;
}
.node-type-company .company-content table.contact-info .field-name-field-geocode {
  float: right;
  padding: 0 20pt;
}
.node-type-company .company-content .field-name-body {
  margin-bottom: 30pt;
}
.node-type-company .company-content .field-name-field-business-hours {
  margin-bottom: 30pt;
}
.node-type-company .company-content .field-name-field-business-hours .business-hours {
  width: 100%;
}
.node-type-company .company-content .field-name-field-business-hours .business-hours .inline-business-hours {
  display: inline-block;
  padding: 0 20pt;
  text-align: center;
  font-size: 22pt;
}
.node-type-company .company-content ul.field-type-yp-product li {
  font-size: 25pt;
  margin-right: 25pt;
  text-decoration: none;
}
.node-type-company .company-content ul.field-type-yp-product li a {
  font-size: 25pt;
  text-decoration: none;
}

.footer .copyright {
  border: none;
}

.node-type-news .region-content,
.node-type-article .region-content {
  padding: 10px 0;
}
.node-type-news .pane-entity-view .field-name-field-main-image img,
.node-type-article .pane-entity-view .field-name-field-main-image img {
  max-width: 300px !important;
  float: left;
  margin-right: 20px;
}
.node-type-news .pane-entity-view .node-main-image-block,
.node-type-article .pane-entity-view .node-main-image-block {
  min-height: 0;
}
.node-type-news .pane-entity-view .node-main-image-block header,
.node-type-article .pane-entity-view .node-main-image-block header {
  position: static;
  padding: 10px 0;
}
.node-type-news .pane-entity-view .field-name-body,
.node-type-article .pane-entity-view .field-name-body {
  padding-top: 0;
}

.node-type-news .yp-twocol-75-25-layout .col-sm-9,
.node-type-article .yp-twocol-75-25-layout .col-sm-9 {
  float: none;
  width: 100%;
}
.node-type-news .yp-twocol-75-25-layout .col-sm-3,
.node-type-article .yp-twocol-75-25-layout .col-sm-3 {
  display: none;
}

.group-tabbed-content .fieldset-wrapper .horizontal-tab-title {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
