.navbar-header,
.navbar #block-search-form {
  float: none;
}

body {
  background: #fff;
  margin: 0;
  line-height: 1.2;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  color: #1d1d1d;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.not-front {
  background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'PT Sans', serif;
  font-weight: bold;
}

a {
  color: #1d1d1d;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  color: #a4a4a4;
}

.yellow {
  color: #ffdd00;
}

/* Header */
header {
  background: #fff;
}

.navbar-header .menu-main-menu {
  float: left;
  padding-top: 38px;
}
.navbar-header .region-header {
  overflow: hidden;
}
.navbar-header .region-header .block-locale {
  float: left;
  padding-top: 38px;
}
.navbar-header .region-header .block-menu {
  float: right;
  padding-top: 34px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-main-menu,
.language-switcher-locale-url,
.menu-user-menu,
.menu-menu-category-menu {
  margin: 0;
  padding: 0px;
  overflow: hidden;
}
.menu-main-menu > li,
.language-switcher-locale-url > li,
.menu-user-menu > li,
.menu-menu-category-menu > li {
  display: block;
  float: left;
}
.menu-main-menu > li > a,
.language-switcher-locale-url > li > a,
.menu-user-menu > li > a,
.menu-menu-category-menu > li > a {
  display: block;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #1d1d1d;
}
.menu-main-menu > li > a:hover, .menu-main-menu > li > a:active, .menu-main-menu > li > a:focus,
.language-switcher-locale-url > li > a:hover,
.language-switcher-locale-url > li > a:active,
.language-switcher-locale-url > li > a:focus,
.menu-user-menu > li > a:hover,
.menu-user-menu > li > a:active,
.menu-user-menu > li > a:focus,
.menu-menu-category-menu > li > a:hover,
.menu-menu-category-menu > li > a:active,
.menu-menu-category-menu > li > a:focus {
  color: #1d1d1d;
  background: transparent;
}

.menu-main-menu > li {
  padding: 0 18px;
}

.menu-main-menu > li > a,
.language-switcher-locale-url > li > a {
  border-bottom: 3px solid transparent;
  line-height: 23px;
}
.menu-main-menu > li > a:hover, .menu-main-menu > li > a:active, .menu-main-menu > li > a:focus,
.language-switcher-locale-url > li > a:hover,
.language-switcher-locale-url > li > a:active,
.language-switcher-locale-url > li > a:focus {
  border-bottom: 3px solid #ffdd00;
}
.menu-main-menu > li > a:hover:before, .menu-main-menu > li > a:hover:after, .menu-main-menu > li > a:active:before, .menu-main-menu > li > a:active:after, .menu-main-menu > li > a:focus:before, .menu-main-menu > li > a:focus:after,
.language-switcher-locale-url > li > a:hover:before,
.language-switcher-locale-url > li > a:hover:after,
.language-switcher-locale-url > li > a:active:before,
.language-switcher-locale-url > li > a:active:after,
.language-switcher-locale-url > li > a:focus:before,
.language-switcher-locale-url > li > a:focus:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  width: 0;
  height: 0;
  border-style: solid;
}
.menu-main-menu > li > a:hover:before, .menu-main-menu > li > a:active:before, .menu-main-menu > li > a:focus:before,
.language-switcher-locale-url > li > a:hover:before,
.language-switcher-locale-url > li > a:active:before,
.language-switcher-locale-url > li > a:focus:before {
  left: -3px;
  border-width: 0 3px 3px 0;
  border-color: transparent #ffdd00 transparent transparent;
}
.menu-main-menu > li > a:hover:after, .menu-main-menu > li > a:active:after, .menu-main-menu > li > a:focus:after,
.language-switcher-locale-url > li > a:hover:after,
.language-switcher-locale-url > li > a:active:after,
.language-switcher-locale-url > li > a:focus:after {
  right: -3px;
  border-width: 3px 0 0 3px;
  border-color: transparent transparent transparent #ffdd00;
}

.language-switcher-locale-url li {
  padding-left: 5px;
  padding-right: 5px;
}
.language-switcher-locale-url li a {
  color: #a4a4a4;
}
.language-switcher-locale-url li a.active {
  color: #1d1d1d !important;
  cursor: default;
}
.language-switcher-locale-url li a.active:hover, .language-switcher-locale-url li a.active:active, .language-switcher-locale-url li a.active:focus {
  border-bottom-color: transparent;
}
.language-switcher-locale-url li a.active:hover:after, .language-switcher-locale-url li a.active:hover:before, .language-switcher-locale-url li a.active:active:after, .language-switcher-locale-url li a.active:active:before, .language-switcher-locale-url li a.active:focus:after, .language-switcher-locale-url li a.active:focus:before {
  display: none;
}
.language-switcher-locale-url li a:hover, .language-switcher-locale-url li a:active, .language-switcher-locale-url li a:focus {
  color: #a4a4a4;
}

.menu-user-menu {
  padding-left: 10px;
  padding-right: 10px;
}
.menu-user-menu li {
  border-left: 1px solid #d1b500;
  background: #ffdd00;
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
}
.menu-user-menu li a {
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-transform: skew(-20deg);
  -ms-transform: skew(-20deg);
  -webkit-transform: skew(-20deg);
  transform: skew(-20deg);
}
.menu-user-menu li:hover {
  background: #fff7c0;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
.menu-user-menu li:first-child {
  border-left: none;
}

.menu-menu-category-menu {
  margin: 0 -30px;
  padding: 0 15px;
}
.menu-menu-category-menu li {
  width: 12.5%;
  height: 70px;
  border-right: 1px solid #d1b500;
  -moz-transform: skew(20deg);
  -ms-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
  position: relative;
}
.menu-menu-category-menu li a {
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -moz-transform: translate3d(-50%, -50%, 0) skew(-20deg);
  -ms-transform: translate3d(-50%, -50%, 0) skew(-20deg);
  -webkit-transform: translate3d(-50%, -50%, 0) skew(-20deg);
  transform: translate3d(-50%, -50%, 0) skew(-20deg);
}
.menu-menu-category-menu li:after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #ffdd00;
  position: absolute;
  bottom: 0;
}
.menu-menu-category-menu li:first-child {
  border-left: 1px solid #d1b500;
}
.menu-menu-category-menu li:hover {
  background: #fff7c0;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

/* Slider block mainpage */
.frontpage-header {
  background: #1d1d1d;
  position: relative;
}
.frontpage-header .activity {
  padding: 40px 15px;
}
.frontpage-header .description {
  color: #fff;
  text-transform: uppercase;
}
.frontpage-header:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -70px;
  width: 100%;
  height: 70px;
  background: #ffdd00;
}

.slogan-header,
.slogan {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

/* Search block */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="search"],
textarea,
button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', serif;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1em;
}

form.search-block-form {
  background: rgba(0, 0, 0, 0.4);
  padding: 27px 40px;
}
form.search-block-form .container-inline {
  border-bottom: 1px solid #fff;
  position: relative;
}
form.search-block-form input[type="text"]::-webkit-input-placeholder {
  color: #fff;
  line-height: 1em;
  padding-top: 3px;
  padding-bottom: 0;
  font-size: 14px;
}
form.search-block-form input[type="text"]:-moz-placeholder {
  color: #fff;
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 14px;
}
form.search-block-form input[type="text"]::-moz-placeholder {
  color: #fff;
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 0;
  font-size: 14px;
}
form.search-block-form input[type="text"]:-ms-input-placeholder {
  color: #fff;
  line-height: 1em;
  padding-top: 2px;
  padding-bottom: 0;
  font-size: 14px;
}
form.search-block-form .field-search_block_form-textfield {
  width: 100%;
  height: 30px;
  color: #fff;
}
form.search-block-form .form-actions {
  width: 30px;
  height: 30px;
  text-align: right;
  position: absolute;
  right: 0;
  top: 0;
}
form.search-block-form .form-actions input[type="submit"] {
  text-indent: -10000px;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
}
form.search-block-form .form-actions:before {
  content: "\f002";
  display: inline-block;
  font: normal normal normal 20px/30px FontAwesome;
  text-rendering: auto;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.not-front form.search-block-form {
  background: #fff;
}
.not-front form.search-block-form .container-inline {
  border-bottom: 1px solid #1d1d1d;
}
.not-front form.search-block-form input[type="text"]::-webkit-input-placeholder {
  color: #1d1d1d;
  text-transform: uppercase;
}
.not-front form.search-block-form input[type="text"]:-moz-placeholder {
  color: #1d1d1d;
  text-transform: uppercase;
}
.not-front form.search-block-form input[type="text"]::-moz-placeholder {
  color: #1d1d1d;
  text-transform: uppercase;
}
.not-front form.search-block-form input[type="text"]:-ms-input-placeholder {
  color: #1d1d1d;
  text-transform: uppercase;
}
.not-front form.search-block-form .field-search_block_form-textfield {
  color: #1d1d1d;
}
.not-front form.search-block-form .form-actions:before {
  color: #1d1d1d;
}

/* Front page styles */
.homepage-container {
  padding-left: 15px;
  padding-right: 15px;
}
.homepage-container .pane-title {
  margin: 50px 0;
  text-align: center;
  text-transform: uppercase;
}

/* Carousel main page */
@media (min-width: 1660px) {
  .view-news.view-id-news.view-display-id-panel_pane_1 {
    margin-left: -230px;
    margin-right: -230px;
  }
}
.view-news.view-id-news.view-display-id-panel_pane_1 .owl-nav > div {
  position: absolute;
  bottom: 15px;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.view-news.view-id-news.view-display-id-panel_pane_1 .owl-nav > div:hover {
  opacity: 0.85;
}
.view-news.view-id-news.view-display-id-panel_pane_1 .owl-nav .owl-prev {
  left: 10px;
}
.view-news.view-id-news.view-display-id-panel_pane_1 .owl-nav .owl-next {
  right: 10px;
}

.owl-carousel .node-teaser a {
  color: #ffdd00;
}
.owl-carousel .node-teaser .field-name-field-list-image {
  /* To remove*/
}
.owl-carousel .node-teaser .field-name-field-list-image img {
  width: 400px;
  height: 440px;
}
.owl-carousel .node-teaser .content {
  position: relative;
}
.owl-carousel .node-teaser .content:hover .right {
  height: 100%;
  padding-top: 30px;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}
.owl-carousel .node-teaser .content:hover .right .field-name-body,
.owl-carousel .node-teaser .content:hover .right .node-link {
  display: block;
}
.owl-carousel .node-teaser .content:hover .right .field-name-body {
  width: 100%;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.owl-carousel .node-teaser .content:hover .right:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #ffdd00;
}
.owl-carousel .node-teaser .node-link {
  width: 100%;
  position: absolute;
  bottom: 30px;
  left: 0;
}
.owl-carousel .node-teaser .node-link:after {
  content: ">";
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  margin-left: 5px;
}
.owl-carousel .node-teaser .right {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 18px 15px;
  background: rgba(46, 46, 46, 0.95);
  text-align: center;
  overflow: hidden;
}
.owl-carousel .node-teaser .node-title {
  height: 32px;
  margin-bottom: 5px;
  padding: 0 40px;
  overflow: hidden;
}
.owl-carousel .node-teaser .node-title a {
  color: #ffdd00;
}
.owl-carousel .node-teaser .node-created,
.owl-carousel .node-teaser .field-name-body {
  color: #fff;
}
.owl-carousel .node-teaser .node-link,
.owl-carousel .node-teaser .field-name-body {
  display: none;
}
.owl-carousel .node-teaser .field-name-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Views block */
.not-front .views-row {
  margin-bottom: 30px;
  padding: 20px;
  border-bottom: 7px solid transparent;
  background: #fff;
}
.not-front .views-row:hover {
  -moz-box-shadow: 0 0 20px 10px rgba(58, 58, 58, 0.05);
  -webkit-box-shadow: 0 0 20px 10px rgba(58, 58, 58, 0.05);
  box-shadow: 0 0 20px 10px rgba(58, 58, 58, 0.05);
}
.not-front .views-row.views-row-first {
  border-bottom: 7px solid #ffdd00;
}
.not-front .views-row h2 {
  text-transform: uppercase;
}
.not-front .views-row .field-name-body {
  font-size: 12px;
}
.not-front .views-row .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Widgets */
.region-aside-a,
.region-aside-b,
.region-aside-c {
  padding: 50px 0;
}
.region-aside-a h2,
.region-aside-b h2,
.region-aside-c h2 {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}
.region-aside-a .info,
.region-aside-b .info,
.region-aside-c .info {
  color: #a4a4a4;
  font-weight: normal;
}
.region-aside-a .entry,
.region-aside-b .entry,
.region-aside-c .entry {
  margin-bottom: 12px;
}
.region-aside-a .amount,
.region-aside-b .amount,
.region-aside-c .amount {
  display: inline-block;
  width: 40px;
  text-align: center;
}
.region-aside-a .link a,
.region-aside-b .link a,
.region-aside-c .link a {
  border-bottom: 2px solid #ffdd00;
}

/* Footer */
.footer {
  padding: 40px 0;
  background: #2e2e2e;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
}
.footer .copyright {
  display: block;
  float: left;
  margin-right: 100px;
  line-height: 23px;
  font-weight: bold;
}
.footer .menu-main-menu {
  float: left;
}
.footer .menu-main-menu li a {
  color: #fff;
}
