.yp-contacts {
  position: relative;
  left: 50%;
  transform: translateX(-12.5%);
}

.yp-contacts .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.yp-contacts .fa {
  color: #999;
}

.yp-contacts .item {
  color: #333;
  margin-left: 6px;
}

.yp-contacts .entry {
  margin-bottom: 10px;
}
