.yp-widget {
  position: relative;
  left: 50%;
  margin-bottom: 35px;
  transform: translateX(-50%);
  width: 200px;
}

.yp-widget .info {
  color: #a4a4a4;
  font-weight: normal;
}

.yp-widget .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.yp-widget .entry {
  line-height: 20px;
  margin-bottom: 10px;
}

.yp-widget .link {
  border-bottom: 2px solid #ffdd00;
  display: inline-block;
  padding-bottom: 3px;
}

.yp-widget .link a {
  color: #000;
  text-decoration: none;
}

.yp-widget .currency {
  background-position: 0 4px;
  background-repeat: no-repeat;
  padding-left: 25px;
}

.yp-widget.yp-rates .amount,
.yp-widget.yp-rates .currency {
  display: inline-block;
  text-align: center;
  width: 50px;
}

.yp-widget.yp-weather .date {
  display: inline-block;
  width: 100%;
}

.yp-widget.yp-weather .date.sun {
  background-image: url('../images/icon_sun.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.yp-widget .currency.usd {
  background-image: url('../images/icon_usd.jpg');
}
.yp-widget .currency.eur {
  background-image: url('../images/icon_eur.jpg');
}
.yp-widget .currency.rub {
  background-image: url('../images/icon_rub.jpg');
}
.yp-widget .currency.ron {
  background-image: url('../images/icon_ron.jpg');
}

.yp-contacts .fa {
  color: #999;
}

.yp-contacts .item {
  color: #333;
  margin-left: 6px;
}
