#yellow-pages-statistics-node-stat-report-form .container-inline-date,
#yellow-pages-search-statistics .container-inline-date {
  display: inline-block;
  margin-right: 20px;
}
#yellow-pages-statistics-node-stat-report-form .form-type-date-popup label,
#yellow-pages-search-statistics .form-type-date-popup label {
  float: left;
  line-height: 30px;
  margin-right: 10px;
}
#yellow-pages-statistics-node-stat-report-form .form-type-textfield {
  margin: 0;
}
#edit-start-date,
#edit-end-date {
  padding: 0;
}
#edit-start-date label,
#edit-end-date label,
#edit-start-date .description,
#edit-end-date .description {
  display: none;
}
#yellow-pages-statistics-node-stat-report-form #edit-submit,
#yellow-pages-search-statistics #edit-submit {
  vertical-align: top;
}
#yellow-pages-statistics-node-stat-report-form table caption,
#yellow-pages-search-statistics table caption {
  font-size: 20px;
  margin: 40px 0 10px;
}
#yellow-pages-search-statistics table th {
  background-color: #ffdd00;
}

#yellow-pages-search-statistics table th,
#yellow-pages-search-statistics table td {
  border: 1px solid #d1b500;
  padding: 10px 30px;
}

#yellow-pages-search-statistics fieldset {
  border: none;
}
/* Print button and options. */
#print-wrapper {
  padding: 10px;
}
#print-button {
  margin: 0;
  float: left;
}
#print-checkboxes {

  padding: 4px 0;
}
#print-checkboxes .print-checkbox {
  float: left;
  padding-left: 30px;
  text-transform: capitalize;
}
#print-checkboxes .print-checkbox input {
  margin-right: 10px;
  vertical-align: middle;
}

@media print {
  #toolbar,
  #branding,
  #edit-period,
  #print-wrapper,
  #edit-related-stat legend,
  .sticky-header,
  .no-print {
    display: none;
  }
  fieldset {
    border: none;
  }
  fieldset legend{
    width: 100%;
  }
  fieldset .fieldset-legend {
    display: block;
    font-size: 20pt;
    text-align: center;
  }
  fieldset .fieldset-wrapper {
    text-align: center;
  }
  table {
    display: inline-table;
    margin: 10px;
  }
  table td {
    border: 1px solid;
    padding: 5px 10px;
  }
  table th {
    border: 1px solid;
    font-weight: bold;
    padding: 5px 10px;
  }
  table tr.odd,
  table tr.even {
    background: none;
  }
}

