@import "compass/css3";

$main-yellow: #ffdd00;
$light-yellow: #fff7c0;
$dark: #1d1d1d;
$gray: #a4a4a4;
$light-gray: #f4f4f4;
$bg-color: #2e2e2e;
$border-color: #d1b500;
$green-phone: #00a500;
$bg-lingth-green: #66dd00;
