
$mobile: 0px 767px;
$tablet: 768px 1024px;
$tabletlg: 960px 1024px;
$tabletsm: 768px 959px;
$tabletlgdown: max-width 959px;
$tabletsmup: min-width 960px;
$desktop: min-width 1025px;
$desktopsm: 1025px 1199px;
$desktoplgdown: max-width 1199px;
$mobileup: min-width 768px;
$desktopdown: max-width 1024px;
$extralarge: min-width 1920px;
$any: 100px;



