/* Print styles */

html,
body,
body.not-front,
header,
.main-container,
.row {
  float: none;
  margin: 0;
  min-height: 0;
  padding: 0;
  width: 100%;
  background: white;
}
.container {
  min-width: 90%;
  margin: 0;
  float: none;
}
a[href]:after {
  content: "";
  font-weight: normal;
  font-size: 16pt;
}
.messages,
.region-header,
.social-links,
.no-touch .pane-yellow-pages-print-yp-print,
.horizontal-tabs ul.horizontal-tabs-list,
.pane-media-field-panel-pane-company-media-field,
.region-asides,
#footer,
.node-advertisement,
#toolbar,
.node-tabs-block,
.node-type-article .node--article--full .social-links,
.node-type-news .node--news--full .social-links,
.gmnoprint,
.gmnoscreen {
  display: none;
}
#navbar {
  width: 100%;
  .container {
    margin: 0;
    width: 100%;
    .navbar-header {
      width: 100%;
      height: 84px;
      margin: 0;
      .logo {
        display: block;
        float: none;
        margin: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        img {
          height: 84px;
          display: inline-block;
          max-height: none;
          position: relative;
          vertical-align: baseline;
          width: 187px;
        }
      }
    }
  }
}
.node-type-company {
  .node-advertisement {
    display: none;
  }
  .node-company.node--company--full {
    .company-content {
      font-size: 20pt;
      width: 100%;
      .field-type-media {
        .owl-controls {
          display: none;
        }
      }
      .col-company {
        display: block;
        text-align: left;
        width: 100%;
        &.col-company-logo {
          display: none;
        }
        h2 {
          font-size: 25pt;
          font-weight: bold;
        }
        .field-name-field-address,
        .field-name-field-landline-phone,
        .field-name-field-fax,
        .field-name-field-mobile-phone,
        .field-name-field-company-site,
        .field-name-field-email {
          padding-left: 35px;
          &::before {
            font: 20px/1 FontAwesome;
          }
        }
        .field-row-tags a {
          font-size: 20pt;
        }
      }
      .horizontal-tabs {
        .horizontal-tabs-panes span {
          font-size: 20pt;
        }
        .horizontal-tabs-panes a {
          font-size: 20pt;
        }
        .field-name-field-filials {
          .content {
            .left {
              display: none;
            }
            .right {
              display: block;
              margin-left: 0;
            }
          }

          .field-name-field-address {
            &::before {
              font: 20pt/1 FontAwesome;
            }
            .street-block {
              .thoroughfare {
                font-size: 20pt;
              }
              &::before {
                content: "";
              }
            }
          }
        }
      }
    }
  }

}

.horizontal-tabs .horizontal-tab-hidden {
  position: static;
}
.footer .copyright {
  border: none;
}
.node-type-news,
.node-type-article {
  .region-content {
    padding: 10px 0;
  }
  .pane-entity-view {
    .field-name-field-main-image {
      img {
        max-width: 300px !important;
        float: left;
        margin-right: 20px;
      }
    }
    .node-main-image-block {
      min-height: 0;
      header {
        position: static;
        padding: 10px 0;
      }
    }
    .field-name-body {
      padding-top: 0;
    }
  }
}
.node-type-news,
.node-type-article {
  .yp-twocol-75-25-layout {
    .col-sm-9 {
      float: none;
      width: 100%;
    }
    .col-sm-3 {
      display: none;
    }
  }
}
.group-tabbed-content .fieldset-wrapper .horizontal-tab-title {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
