@import "init";
@import "mixins";
@import "settings";
@import "breakpoint";
@import "compass/css3/box-shadow";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/transform";

.navbar-header,
.navbar #block-search-form {
  float: none;
}

body {
  background: #fff;
  margin: 0;
  line-height: 1.2;
  font-family: 'PT Sans', serif;
  font-size: 14px;
  color: $dark;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.not-front {
    background: #f2f2f2;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'PT Sans', serif;
  font-weight: bold;
}


a {
  color: $dark;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $gray;
  }
}
.yellow {
  color: $main-yellow;
}


/* Header */

header {
  background: #fff;
}
.navbar-header {
  .menu-main-menu {
    float: left;
    padding-top: 38px;
  }
  .region-header {
    overflow: hidden;
    .block-locale {
      float: left;
      padding-top: 38px;
    }
    .block-menu {
      float: right;
      padding-top: 34px;
    }
  }
}
.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-main-menu,
.language-switcher-locale-url,
.menu-user-menu,
.menu-menu-category-menu {
  margin: 0;
  padding: 0px;
  overflow: hidden;
  > li {
    display: block;
    float: left;
    > a {
      display: block;
      position: relative;
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      color: $dark;
      &:hover,
      &:active,
      &:focus {
        color: $dark;
        background: transparent;
      }
    }
  }
}
.menu-main-menu {
  > li {
    padding: 0 18px;
  }
}
.menu-main-menu,
.language-switcher-locale-url {
  > li {
    > a {
      border-bottom: 3px solid transparent;
      line-height: 23px;
      &:hover,
      &:active,
      &:focus {
        border-bottom: 3px solid $main-yellow;
        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -3px;
          width: 0;
          height: 0;
          border-style: solid;
        }
        &:before {
          left: -3px;
          border-width: 0 3px 3px 0;
          border-color: transparent $main-yellow transparent transparent;
        }
        &:after {
          right: -3px;
          border-width: 3px 0 0 3px;
          border-color: transparent transparent transparent $main-yellow;
        }
      }
    }
  }
}

.language-switcher-locale-url {
  li {
    padding-left: 5px;
    padding-right: 5px;
    a {
      color: $gray;
      &.active {
        color: $dark !important;
        cursor: default;
        &:hover,
        &:active,
        &:focus {
          border-bottom-color: transparent;
          &:after,
          &:before {
            display: none;
          }
        }
      }
      &:hover,
      &:active,
      &:focus {
        color: $gray;
      }
    }
  }
}

.menu-user-menu {
  padding-left: 10px;
  padding-right: 10px;
  li {
    border-left: 1px solid $border-color;
    background: $main-yellow;
    @include transform(skew(20deg));
    a {
      line-height: 30px;
      padding-left: 20px;
      padding-right: 20px;
      @include transform(skew(-20deg));
    }
    &:hover {
      background: $light-yellow;
      @include transition (background 0.3s ease-out);
    }
    &:first-child {
      border-left: none;
    }
  }
}
.menu-menu-category-menu {
  margin: 0 -30px;
  padding: 0 15px;
  li {
    width: 12.5%;
    height: 70px;
    border-right: 1px solid $border-color;
    @include transform(skew(20deg));
    position: relative;
    a {
      font-size: 14px;
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      @include transform(translate3d(-50%, -50%, 0) skew(-20deg));
    }
    &:after {
      content: "";
      display: block;
      height: 3px;
      width: 100%;
      background: $main-yellow;
      position: absolute;
      bottom: 0;
    }
    &:first-child {
      border-left: 1px solid $border-color;
    }
    &:hover {
      background: $light-yellow;
      @include transition (background 0.3s ease-out);
    }
  }
}

/* Slider block mainpage */
.frontpage-header {
  background: $dark;
  position: relative;
  .activity {
    padding: 40px 15px;
  }
  .description {
    color: #fff;
    text-transform: uppercase;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 70px;
    background: $main-yellow;
  }
}

.slogan-header,
.slogan {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

/* Search block */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="search"],
textarea,
button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  outline: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'PT Sans', serif;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1em;
}

form.search-block-form {
  background: rgba(0,0,0,0.4);
  padding: 27px 40px;
  .container-inline {
    border-bottom: 1px solid #fff;
    position: relative;
  }
  input[type="text"]::-webkit-input-placeholder { color: #fff; line-height: 1em; padding-top:3px; padding-bottom: 0; font-size: 14px;}
  input[type="text"]:-moz-placeholder { color: #fff; line-height: 1em; padding-top:10px; padding-bottom: 0; font-size: 14px;}
  input[type="text"]::-moz-placeholder { color: #fff; line-height: 1em; padding-top:10px; padding-bottom: 0; font-size: 14px;}
  input[type="text"]:-ms-input-placeholder { color: #fff; line-height: 1em; padding-top:2px; padding-bottom: 0; font-size: 14px;}
  .field-search_block_form-textfield {
    width: 100%;
    height: 30px;
    color: #fff;
  }
  .form-actions {
    width: 30px;
    height: 30px;
    text-align: right;
    position: absolute;
    right: 0;
    top: 0;
    input[type="submit"] {
      text-indent: -10000px;
      height: 30px;
      width: 30px;
      position: absolute;
      right: 0;
    }
    &:before {
      content: "\f002";
      display: inline-block;
      font: normal normal normal 20px/30px FontAwesome;
      text-rendering: auto;
      color: #fff;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
    }
  }
}
.not-front form.search-block-form {
  background: #fff;
  .container-inline {
    border-bottom: 1px solid $dark;
  }
  input[type="text"]::-webkit-input-placeholder { color: $dark; text-transform: uppercase;}
  input[type="text"]:-moz-placeholder { color: $dark; text-transform: uppercase;}
  input[type="text"]::-moz-placeholder { color: $dark; text-transform: uppercase;}
  input[type="text"]:-ms-input-placeholder { color: $dark; text-transform: uppercase;}
  .field-search_block_form-textfield {
    color: $dark;
  }
  .form-actions {
    &:before {
      color: $dark;
    }
  }
}

/* Front page styles */

.homepage-container {
  padding-left: 15px;
  padding-right: 15px;
  .pane-title {
    margin: 50px 0;
    text-align: center;
    text-transform: uppercase;
  }
}
/* Carousel main page */

.view-news.view-id-news.view-display-id-panel_pane_1 {
  @include breakpoint ($extralarge) {
    margin-left: -230px;
    margin-right: -230px;
  }
  .owl-nav {
    > div {
      position: absolute;
      bottom: 15px;
      height: 40px;
      width: 40px;
      text-align: center;
      font-size: 20px;
      color: #fff;
      &:hover {
        opacity: 0.85;
      }
    }
    .owl-prev {
      left: 10px;
    }
    .owl-next {
      right: 10px;
    }
  }
}
.owl-carousel .node-teaser {
  a {
    color: $main-yellow;
  }
  .field-name-field-list-image { /* To remove*/
    img {
      width: 400px;
      height: 440px;
    }
  }
  .content {
    position: relative;
    &:hover {
      .right {
        height: 100%;
        padding-top: 30px;
        @include transition(max-height 0.3s ease-out);
        .field-name-body,
        .node-link {
          display: block;
        }
        .field-name-body {
          width: 100%;
          padding: 15px;
          position: absolute;
          top: 50%;
          left: 50%;
          @include transform(translate3d(-50%, -50%, 0));
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background: $main-yellow;
        }
      }
    }
  }
  .node-link {
    width: 100%;
    position: absolute;
    bottom: 30px;
    left: 0;
    &:after {
      content: ">";
      display: inline-block;
      vertical-align: middle;
      font-weight: bold;
      margin-left: 5px;
    }
  }
  .right {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 18px 15px;
    background: rgba(46, 46, 46, 0.95);
    text-align: center;
    overflow: hidden;
  }
  .node-title {
    height: 32px;
    margin-bottom: 5px;
    padding: 0 40px;
    overflow: hidden;
  }
  .node-title a {
    color: $main-yellow;
  }
  .node-created,
  .field-name-body {
    color: #fff;
  }
  .node-link,
  .field-name-body {
    display: none;
  }
  .field-name-body {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

/* Views block */
.not-front .views-row {
  margin-bottom: 30px;
  padding: 20px;
  border-bottom: 7px solid transparent;
  background: #fff;
  &:hover {
    @include box-shadow(0 0 20px 10px rgba(58, 58, 58, 0.05));
  }
  &.views-row-first {
    border-bottom: 7px solid $main-yellow;
  }
  h2 {
    text-transform: uppercase;
  }
  .field-name-body {
    font-size: 12px;
  }
  .links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/* Widgets */

.region-aside-a,
.region-aside-b,
.region-aside-c {
  padding: 50px 0;
  h2 {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  .info {
    color: $gray;
    font-weight: normal;
  }
  .entry {
    margin-bottom: 12px;
  }
  .amount {
    display: inline-block;
    width: 40px;
    text-align: center;
  }
  .link {
    a {
      border-bottom: 2px solid $main-yellow;
    }
  }
}

/* Footer */
.footer {
  padding: 40px 0;
  background: $bg-color;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
  .copyright {
    display: block;
    float: left;
    margin-right: 100px;
    line-height: 23px;
    font-weight: bold;
  }
  .menu-main-menu {
    float: left;
    li a {
      color: #fff;
    }
  } 
}