#panels-panel-context-edit-content .row {
  display: table;
  content: " ";
  width: 100%;
}

#panels-panel-context-edit-content .col-sm-3 {
  float: right;
  width: 25%;
}

#panels-panel-context-edit-content .col-sm-9 {
  float: left;
  width: 75%;
}
